name: AutoSignIn

on:
  push:
  gollum:
  schedule:
    - cron: 0 22 * * *

jobs:
  AutoSignIn:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout codes'
      uses: actions/checkout@v1
    - name: 'Set up Python'
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - name: 'Install requirements'
      run: |
        pip install -r requirements.txt
       
    - name: HealthyCheckIn
      run: python3 main.py
      env:
        USERNAME: ${{secrets.USERNAME}}
        PASSWORD: ${{secrets.PASSWORD}}
        SCKEY: ${{secrets.SCKEY}}
        SEND_EMAIL: ${{secrets.SEND_EMAIL}}
        SEND_PWD: ${{secrets.SEND_PWD}}
        RECEIVE_EMAIL: ${{secrets.RECEIVE_EMAIL}}
